---
// index.astro
import Layout from "../layouts/Layout.astro";
import MainContent from "../components/MainContent.jsx";
---

<Layout title="Ethan's Portfolio">
  <main>
    <MainContent client:load />
  </main>
</Layout>

<style>
  main {
    display: flex;
  }
</style>
