---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Ethan's Portfolio">
  <main>
    <Navbar />
  </main>
</Layout>

<style>
  main {
    display: flex;
  }
</style>
