.nav--container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 15rem;
    height: 100vh;
    color: white;
    border-right: 1px solid white;
  }

  .nav--inside__row {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .page--navigation__container {
    display: flex;
    flex-direction: column;
  }

  .page--navigation__container a {
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    display: flex;
  }

  .name {
    font-weight: 600;
    font-size: 24px;
    padding: 10px 0px;
  }

  .nav--bottom__socials {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    padding: 1rem 0px;
    color: rgb(204, 204, 204);
  }

  .nav--bottom__socials a {
    margin: 0 10px; /* Add some horizontal space between links */
    cursor: pointer;
    color: rgb(204, 204, 204);
  }